body,html{
    margin: 0;
    padding: 0;
    background-image: url(assets/backgroundImage.png);
    background-size: cover;
    background-position: center;
}

.cotainer{
    display: grid;
    place-items: center;
    height: 100vh;
}

#rectangle{
    background-color: #000;
    height: 150px;
    width: 270px;
}
